# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# logs and outputs
out/
*.logs

# scratch test files
scratch*.py

# cluster job files
*.slurm
job_train

# package installation byproducts
*egg-info